@import "tailwindcss";

@theme {
  --color-accent-yellow: #ecad0a;
  --color-blue-primary: #209dd7;
  --color-purple-secondary: #753991;
  --color-dark-navy: #032147;
  --color-gray-text: #888888;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
